<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ToDoアプリトップ画面</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" th:href=@{/css/todo_css.css} />
</head>

<body>
    <h1>ようこそ [[${member.name}]] さん！</h1>
    <span class="separator"></span>

    <button class="link-button"
        th:onclick="'location.href=\'' + @{/{mid}/todo(mid=${member.mid})} + '\''">自分のToDo</button>
    <button class="link-button"
        th:onclick="'location.href=\'' + @{/{mid}/todo/all(mid=${member.mid})} + '\''">みんなのToDo</button>
    <button class="link-button" th:onclick="'location.href=\'' + @{/} + '\''">ログアウト</button>
    <span class="separator"></span>

    <h2>ToDo</h2>
    <table border="1" id="todoTable" class="table table-sm table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>タイトル</td>
                <td>作成日時</td>
                <td>コマンド</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="t: ${todos}">
                <td class="align-middle">[[${t.seq}]]</td>
                <td class="align-middle">[[${t.title}]]</td>
                <td class="align-middle">[[${t.createdAt}]]</td>
                <td class="align-middle">
                    <form th:action="@{/{mid}/todo/{seq}/done(mid=${t.mid},seq=${t.seq})}" method="post">
                        <button type="submit" class="link-button">完了</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="align-middle">*</td>
                <td colspan="3" class="align-middle">
                    <form th:action="@{/{mid}/todo(mid=${member.mid})}" method="post" th:object="${toDoForm}">
                        <input type="text" name="title" th:field="*{title}" required>
                        <input type="submit" class="link-button" value="新規作成">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></span>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <span class="separator"></span>

    <h2>Done</h2>
    <table border="1" id="doneTable" class="table table-sm table-striped align-middle">
        <thead>
            <tr>
                <td>#</td>
                <td>タイトル</td>
                <td>作成日時</td>
                <td>完了日時</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="d: ${dones}">
                <td>[[${d.seq}]]</td>
                <td>[[${d.title}]]</td>
                <td>[[${d.createdAt}]]</td>
                <td>[[${d.doneAt}]]</td>
            </tr>
        </tbody>
    </table>
</body>

</html>